*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
html * {
  padding: 0;
  margin: 0;
  font-family: 'Jua', sans-serif;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}
