body.main {
  $ocean: #9f9fff;
  $land: #f0d492;
  $tree: #b45f08;
  $leaf: #69bf27;
  $sun: #ffde7b;
  $sky: #c0dfef;
  $moon: #ffefb5;
  $moonborder: #caba94;
  $stars: #96cae5;
  $boat: #cb3a37;
  $cabin: #f5f5f5;
  $gray: #8b9a97;
  $dark-blue: #194a63;

  position: relative;
  width: 100%;
  min-width: 520px;
  height: 100vh;
  background: $sky;
  overflow-y: hidden;
  overflow-x: hidden;

  .progress-bar__background {
    fill: none;
    stroke: #fff;
    stroke-width: 1.8;
  }

  .progress-bar__progress {
    fill: none;
    stroke: #53c100;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    stroke-width: 1.8;
    transition: stroke-dashoffset 1s ease-in-out;
  }

  &.night {
    background-color: $dark-blue;
  }

  .profile-container {
    position: absolute;
    top: 30px;
    left: 60px;

    & svg {
      height: 150px;
      width: 150px;
      transform: rotate(-90deg);
    }

    &.active {
      & .user {
        height: 300px;
      }

      & .user__name {
        font-size: 2rem;
      }

      & .user__status {
        height: 80%;
      }

      & .user__more-btn {
        font-size: 1.3em;
      }

      & .profile .line {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;

        &:first-child {
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
      }
    }
  }

  .profile {
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cc5c5c;
    margin: 0;
    padding: 0;
    transition: background-color ease 0.2s;

    &:hover {
      background-color: darken(#cc5c5c, 10%);

      & .line {
        background-color: darken(#fff, 10%);
      }
    }

    & .line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 20px;
      height: 4px;
      background-color: #fff;
      border-radius: 3px;
      transition: all ease 0.25s;

      &:first-child {
        top: 35%;
      }

      &:last-child {
        top: 65%;
      }
    }
  }

  .user {
    position: absolute;
    top: 55px;
    left: -24px;
    width: 400px;
    height: 0;
    border-radius: 20px;
    z-index: -1;
    opacity: 0.7;
    overflow: hidden;
    z-index: 3;
    transition: height 0.3s;

    &__name {
      padding: 15px;
      text-align: center;
      font-size: 0;
      height: 20%;
      background-color: #fff;
      transition: font-size 0.2s;
    }

    &__status {
      top: 20px;
      left: 20px;
      width: 100%;
      height: 0;
      background-color: #222;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: all 0.3s 0.1s;
      overflow: hidden;

      &-circle {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        font-size: 2rem;
        font-weight: 800;
        color: #fff;
        transition: transform 0.3s;

        &:hover {
          transform: scale(110%, 110%);

          & .progress-rate {
            font-size: 2.5rem;
          }
        }
      }

      &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        & .progress {
          &-title {
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 0.4rem;
          }

          &-rate {
            display: block;
            text-align: center;
            transition: font-size 0.4s;
          }
        }
      }
    }
    @keyframes blink {
      from {
        opacity: 1;
      }

      to {
        opacity: 0.4;
      }
    }

    &__more {
      &-btn {
        position: absolute;
        padding: 5px 10px;
        border-radius: 5px;
        bottom: 2%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        color: #fff;
        font-weight: 800;
        animation: blink 1.4s alternate infinite var(--play-state);
        cursor: pointer;
        font-size: 0;
        transition: font-size 0.5s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.406);
        }
      }

      &-info {
        position: absolute;
        top: 370px;
        left: -25px;
        width: 400px;
        height: 100px;
        border-radius: 10px;
        text-align: center;
        background: rgba(34, 34, 34, 0.7);
        opacity: 0;
        transition: opacity 0.7s ease;
        padding: 15px;
        color: rgba(255, 255, 255, 0.9);

        &.active {
          opacity: 1;
        }
      }

      &-title {
        font-size: 2rem;
      }

      &-content {
        font-size: 1.7rem;
      }
    }
  }
  .btn {
    position: absolute;
    cursor: pointer;
    text-align: center;
    background: #cc5c5c;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 50px;
    color: #f0f0f0;
    transform: translateX(-50%);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .mode {
    bottom: 7%;
    left: 50%;
    width: 150px;
    height: 50px;

    &:hover {
      background-color: darken(#cc5c5c, 10%);
      color: darken(#fff, 10%);
    }

    &:active {
      transform: translateX(-50%) scale(90%, 90%);
    }
  }

  .ocean {
    width: 100%;
    height: 360vh;
    position: absolute;
    top: 70%;
    background: linear-gradient(#58c8da, #022244);
    z-index: -2;
  }

  .scroll-del-wrapper {
    position: absolute;
    bottom: 7%;

    width: 100%;
    height: 70px;
    overflow: hidden;
  }

  .category {
    position: absolute;
    width: 170px;
    height: 170px;
    background-color: #ffffff52;
    text-align: center;
    border-radius: 50%;
    transition: 0.15s;
    font-size: 1.8rem;
    font-weight: 800;
    text-shadow: 1px 1px 6px #fff, 1px 1px 6px #fff, 1px 1px 6px #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px #fff;
    cursor: pointer;

    &.solved {
      box-shadow: 0 0 40px #53c100;

      &::after {
        content: 'SOLVED';
        position: absolute;
        font-size: 3rem;
        top: -75px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        color: #53c100;
        text-shadow: 0 0 20px #222;
      }
    }

    &:hover {
      font-weight: 800;
      font-size: 1.7rem;
      font-size: 3rem;
      transform: scale(120%, 120%);

      & .shark__body {
        top: 0;
      }
    }

    &__name {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  @keyframes rise {
    to {
      bottom: 90%;
    }
  }

  .bubble {
    $bubbles: lighten($ocean, 10%);
    $border: darken($ocean, 2%);
    bottom: 0;
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid $border;
    background: $bubbles;
    opacity: 0.3;
    transition: all 1s ease;

    &-rising {
      animation: rise 20s linear infinite var(--play-state);
    }
  }

  .boat {
    position: absolute;
    bottom: 28%;
    left: 70%;
    height: 45px;
    width: 130px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: $boat;
    z-index: 0;
    transition: left ease 1s;
    &.night {
      left: 150%;
    }
    .cabin {
      position: absolute;
      top: -35px;
      left: 40px;
      width: 70px;
      height: 35px;
      background: $cabin;
      &::after {
        content: '';
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: $gray;
        z-index: 2;
        box-shadow: 20px 0 $gray, -20px 0 $gray;
      }
    }
    .top {
      position: absolute;
      top: -35px;
      left: 40px;
      width: 70px;
      height: 10px;
      background: $boat;
    }
    .pole {
      position: absolute;
      top: -50px;
      left: 30px;
      width: 10px;
      height: 50px;
      background: $gray;
      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0;
        left: -5px;
        background: $gray;
      }
    }
  }
  .land {
    position: absolute;
    width: 180px;
    height: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 3px solid #d8be83;
    background: $land;
    bottom: 25%;
    left: 25%;
    .tree {
      position: absolute;
      width: 30px;
      height: 100px;
      background: $tree;
      top: -100px;
      left: 50%;
      transform: translate3d(-50%, 10%, 0);
      z-index: -1;
      .leaf {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border-top: 30px solid $leaf;
        z-index: -2;
        &::after {
          content: '';
          position: absolute;
          top: -60px;
          left: 0px;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          border-top: 30px solid $leaf;
          transform: rotate(-30deg);
        }
        &.left {
          left: -80px;
          &::after {
            transform: rotate(30deg);
          }
        }
      }
    }
  }
  .bird {
    position: absolute;
    top: 10%;
    left: 30%;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border-top: 5px solid black;
    transform: rotate(10deg);
    z-index: -3;
    transition: top ease 0.5s;
    &::after {
      content: '';
      position: absolute;
      top: -10px;
      left: 28px;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      border-top: 5px solid black;
      transform: rotate(-10deg);
    }
    &.two {
      top: 14%;
      left: 34%;
    }
    &.three {
      top: 40%;
      left: 80%;
    }
    &.night {
      top: 100%;
    }
  }
  .sun {
    position: absolute;
    background: $sun;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 8px solid #debd56;
    top: 8%;
    right: 20%;
    transition: top ease 0.35s;
    z-index: -3;
    transition-delay: 0.25s;
    &::after {
      content: '';
      position: absolute;
      left: -5%;
      top: 50%;
      width: 60px;
      height: calc(50px * 0.3);
      border-radius: 2em;
      box-shadow: -25px -8px white, -50px 0 white;
      background: white;
    }
    &.night {
      top: 90%;
    }
  }
  .moon {
    position: absolute;
    background: $moon;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 8px solid $moonborder;
    top: -20%;
    right: 20%;
    transition: all ease 0.25s;
    transition-delay: 0.25s;
    background-image: radial-gradient(
        circle at 60% 10%,
        #caba94 15%,
        transparent 0
      ),
      radial-gradient(circle at 30% 50%, #caba94 10%, transparent 0),
      radial-gradient(circle at 60% 70%, #caba94 13%, transparent 0);
    &.night {
      top: 8%;
    }
  }
  .stars {
    background: $stars;
    position: absolute;
    top: -400px;
    left: 40%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: top ease 0.25s;
    transition-delay: 0.25s;
    box-shadow: 70px 70px 0 $stars, -100px 80px 0 $stars, 200px 10px 0 $stars,
      130px 180px 0 $stars, -120px -10px 0 $stars, -200px 170px 0 $stars,
      -280px 110px 0 $stars, -320px 20px 0 $stars, 320px 170px 0 $stars,
      430px 60px 0 $stars, 480px 140px 0 $stars, 780px 110px 0 $stars,
      720px 90px 0 $stars;
    z-index: -3;
    &.night {
      top: 30px;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(#222, 0.9);
  }

  .login {
    &-form {
      width: 30%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-label {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      color: #fff;
      margin-bottom: 30px;
    }

    &-input {
      border: 2px solid #fff;
      text-align: center;
      margin-bottom: 30px;
      padding-left: 10px;
      height: 40px;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
      background-color: transparent;
      font-weight: 800;
    }

    &-btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      height: 40px;
      border-radius: 5px;
      border: 2px solid #fff;
      font-size: 1.5rem;
      font-weight: 800;
      color: #fff;

      &:hover,
      &:focus {
        border: 4px solid #d8ffbba3;
        color: #d8ffbba3;
      }
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  .greeting {
    text-align: center;
    font-size: 3rem;
    padding-top: 200px;
    color: #022244;
    text-shadow: 1px 1px 5px #fff;
    animation: fadeOut 1.5s linear var(--play-state);
  }

  // submarine

  $color1: #306d85;
  $color2: #d93a54;

  .sea {
    margin: 70px auto 80px auto;
    overflow: hidden;

    .bubble {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: lighten($color1, 25%);
      opacity: 0.9;
      animation: bubble1-h-movement 1s ease-in infinite var(--play-state),
        bubble1-v-movement 300ms ease-in-out infinite alternate,
        bubble-scale-movement 300ms ease-in-out infinite alternate;

      &:after {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: lighten($color1, 25%);
        opacity: 0.9;
      }
      &:after {
        top: -20;
        left: 100px;
        width: 9px;
        height: 9px;
      }
    }

    .circle-wrapper {
      position: relative;
      background: linear-gradient(darken($color1, 3%), darken($color1, 12%));
      width: 300px;
      height: 300px;
      margin: 10px auto 0 auto;
      overflow: hidden;
      z-index: 0;
      border-radius: 50%;
      padding: 0 50px 0 50px;
      border: 6px solid lighten($color1, 10%);
    }

    .submarine-wrapper {
      height: 300px;
      width: 300px;
      padding: 30px 50px 30px 150px;
      margin: 0 auto 0 auto;
      animation: diving 3s ease-in-out infinite var(--play-state),
        diving-rotate 3s ease-in-out infinite;

      .submarine-body {
        width: 150px;
        height: 80px;
        position: absolute;
        margin-top: 50px;
        left: 25px;
        background-color: $color2;
        border-radius: 40px;
        background: linear-gradient($color2, darken($color2, 10%));

        .light {
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 40px 150px 40px;
          border-color: transparent transparent lighten($color1, 5%) transparent;

          transform: rotate(-50deg);
          top: 40px;
          left: 99%;

          &:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 13px;
            border-radius: 5px;
            background-color: darken($color2, 5%);
            margin-left: -10px;
          }
        }

        .window {
          width: 37px;
          height: 37px;
          position: absolute;
          margin-top: 23px;
          right: 18px;
          background: linear-gradient(
            darken($color1, 13%),
            darken($color1, 18%)
          );
          border-radius: 50%;
          border: 3px solid $color2;

          &:after {
            content: '';
            position: absolute;
            margin-top: 3px;
            margin-left: 3px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: transparent;
            opacity: 0.8;
            border-top: 3px solid white;
            transform: rotate(-45deg);
          }
        }

        .engine {
          width: 30px;
          height: 30px;
          position: absolute;
          margin-top: 32px;
          left: 53px;
          background-color: darken($color2, 10%);
          border-radius: 50%;
          border: 5px solid $color2;

          &:after,
          &:before {
            position: absolute;
            content: '';
            border-radius: 2px;
            background-color: white;
            animation: spin 900ms linear infinite var(--play-state);
            opacity: 0.8;
          }
          &:after {
            top: 8px;
            width: 20px;
            height: 4px;
          }
          &:before {
            left: 8px;
            width: 4px;
            height: 20px;
          }
        }
      }

      .helix {
        width: 30px;
        height: 70px;
        position: absolute;
        margin-top: 55px;
        left: 0;
        background-color: $color2;
        border-radius: 7px;
        background: linear-gradient($color2, darken($color2, 10%));

        &:after {
          content: '';
          position: absolute;
          margin-top: 5px;
          margin-left: 7px;
          width: 17px;
          height: 60px;
          border-radius: 3px;
          background-color: transparent;
          opacity: 0.8;
          background: linear-gradient(
            to bottom,
            $color2,
            $color2 50%,
            lighten($color2, 15%) 50%,
            lighten($color2, 15%)
          );
          background-size: 100% 20px;
          animation: helix-movement 110ms linear infinite var(--play-state);
        }
      }

      .hat {
        width: 65px;
        height: 25px;
        position: absolute;
        margin-top: 26px;
        left: 70px;
        background-color: $color2;
        border-radius: 10px 10px 0 0;
        background: linear-gradient($color2, darken($color2, 3%));

        .periscope {
          position: absolute;
          width: 7px;
          height: 20px;
          background-color: $color2;
          margin-top: -27px;
          margin-left: 32px;
          border-radius: 5px 5px 0 0;

          &:after,
          &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 7px;
            border-radius: 5px;
            background-color: $color2;
          }
        }

        .leds-wrapper {
          width: 53px;
          height: 13px;
          position: relative;
          top: 7px;
          left: 7px;
          background-color: $color2;
          border-radius: 10px;
          background: linear-gradient(
            darken($color2, 12%),
            darken($color2, 16%)
          );

          .leds {
            position: absolute;
            margin-top: 4px;
            margin-left: 7px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: white;
            animation: leds-off 500ms linear infinite var(--play-state);

            &:after,
            &:before {
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: white;
            }
            &:after {
              margin-top: 0px;
              margin-left: 17px;
            }
            &:before {
              margin-top: 0px;
              margin-left: 34px;
            }
          }
        }
      }
    }
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes leds-off {
    100% {
      opacity: 0.3;
    }
  }

  @keyframes helix-movement {
    100% {
      background: linear-gradient(
        to bottom,
        lighten($color2, 15%) 50%,
        lighten($color2, 15%),
        $color2,
        $color2 50%
      );
      background-size: 100% 20px;
    }
  }

  @keyframes diving {
    0% {
      margin-top: 5px;
    }
    50% {
      margin-top: 15px;
    }

    100% {
      margin-top: 5px;
    }
  }

  @keyframes diving-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(3deg);
    }
    75% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes bubble1-h-movement {
    0% {
      margin-left: 80%;
    }
    100% {
      margin-left: -100%;
    }
  }

  @keyframes bubble2-h-movement {
    0% {
      margin-left: 65%;
    }
    100% {
      margin-left: -5%;
    }
  }

  @keyframes bubble1-v-movement {
    0% {
      margin-top: 115px;
    }
    100% {
      margin-top: 160px;
    }
  }

  @keyframes bubble2-v-movement {
    0% {
      margin-top: 115px;
    }
    100% {
      margin-top: 90px;
    }
  }

  @keyframes bubble-scale-movement {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(0.9);
    }
  }

  @keyframes light-movement {
    0% {
      transform: rotate(-40deg);
    }
    50% {
      transform: rotate(-70deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }

  @keyframes arrowBlink {
    to {
      opacity: 0;
    }
  }

  .arrow {
    position: absolute;
    bottom: 7%;
    transform: rotate(90deg);
    width: 50px;
    height: 50px;
    opacity: 1;
    background: url('../img/arrow.svg');
    animation: arrowBlink 0.75s infinite alternate var(--play-state);

    &-left {
      left: 20%;
    }

    &-right {
      right: 20%;
    }
  }

  .scroll-del {
    bottom: 10px;
    transition: bottom 0.4s ease;

    &.disable {
      bottom: 150%;
    }
  }

  .scroll-up {
    position: absolute;
    font-size: 3rem;
    bottom: -100%;
    transition: bottom 0.4s ease;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    text-shadow: 1px 1px 6px #fff, 1px 1px 6px #fff, 1px 1px 6px #fff;

    &.able {
      bottom: 5px;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(10deg);
    }

    to {
      transform: rotate(-10deg);
    }
  }

  .shark {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 200px;
    height: 200px;
    background: url('../img/shark.svg');
    z-index: 0;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    // animation: rotate 0.7s ease-in-out infinite alternate;
  }
}
