body.game {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
  margin: 0;
  .ocean {
    position: absolute;
    width: 93vw;
    height: 90vh;
    overflow: hidden;
    background-image: linear-gradient(#58c8da, #022244);
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 160px;
    box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.8);
  }

  .ocean.active {
    @keyframes blinkRed {
      0%,
      100% {
        box-shadow: inset 0 0 100px 5px rgba(255, 0, 0, 0.8);
      }

      50% {
        box-shadow: inset 0 0 250px 5px rgba(255, 0, 0, 0.8);
      }
    }

    animation: blinkRed 1s ease infinite var(--play-state);
  }

  // 상단 물결, 타원을 그리고 absolute로 배치
  .ocean::after,
  .ocean::before {
    background-color: white;
    width: 120%;
    height: 120px;
    position: absolute;
    content: '';
    top: -80px;
    left: -10%;
    border-radius: 100%;
    animation: waves 10s ease infinite var(--play-state);
    opacity: 0.2;
  }

  .ocean::before {
    top: -60px;
    animation-delay: 5s;
    opacity: 0.1;
    left: -5%;
  }

  // rotate로 -2deg 부터 2deg 까지 조금씩 회전
  @keyframes waves {
    0%,
    100% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
  }

  // bubble들이 있을 화면
  .bubbles {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  //

  .bubbles span {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -10%;
    animation: bubble 10s ease-in-out infinite var(--play-state);
  }

  @keyframes bubble {
    0% {
      opacity: 0;
      transform: translate3d(-20px, 0, 0);
    }
    25% {
      transform: translate3d(20px, 0, 0);
    }
    50% {
      transform: translate3d(-20px, 0, 0);
    }
    75% {
      transform: translate3d(20px, 0, 0);
    }
    100% {
      bottom: 90%;
      transform: translate3d(-20px, 0, 0);
    }
  }

  .bubbles span:nth-child(1) {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    left: 10%;
    animation-delay: 3s;
    animation-duration: 10s;
    opacity: 0.2;
  }

  .bubbles span:nth-child(2) {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 5s;
    opacity: 0.1;
  }

  .bubbles span:nth-child(3) {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
  }

  .bubbles span:nth-child(4) {
    width: 35px;
    height: 35px;
    opacity: 0.5;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 8s;
    opacity: 0.2;
  }

  .bubbles span:nth-child(5) {
    width: 45px;
    height: 45px;
    opacity: 0.5;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
  }

  .bubbles span:nth-child(6) {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
  }

  .bubbles span:nth-child(7) {
    width: 15px;
    height: 15px;
    opacity: 0.5;
    left: 90%;
    animation-duration: 25s;
    opacity: 0.3;
  }

  .bubbles span:nth-child(8) {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    left: 50%;
    animation-duration: 10s;
    opacity: 0.2;
  }
  .shark,
  .fish {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: orange;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: inset 0px -6px 0px rgba(0, 0, 0, 0.1);
    animation: fish 40s ease-in infinite var(--play-state);
  }

  .shark {
    width: 100px;
    height: 50px;
    background-color: rgb(25, 132, 219);
    top: 30%;
    left: 30%;
    box-shadow: inset 0px -10px 0px rgba(151, 202, 236, 0.7);
    animation: shark 20s ease-in infinite var(--play-state);
  }

  @keyframes fish {
    0% {
      left: calc(100% + 30px);
      top: 30%;
    }
    50% {
      top: 20%;
    }
    100% {
      left: -20%;
      top: 30%;
    }
  }

  @keyframes shark {
    0% {
      left: -30%;
      top: 80%;
    }
    50% {
      top: 70%;
    }
    100% {
      left: 120%;
      top: 80%;
    }
  }
  // 꼬리
  .shark::after,
  .fish::after {
    width: 20px;
    height: 20px;
    background-color: inherit;
    content: '';
    position: absolute;
    right: -20px;
    animation: tail 2s ease infinite var(--play-state);
    z-index: -1;
  }
  .shark::after {
    height: 40px;
    border-radius: 0 100% 100% 0;
    animation: sharktail 2s ease infinite var(--play-state);
  }
  .fish::after {
    border-radius: 10px;
    top: 30%;
    animation: tail 2s ease infinite var(--play-state);
  }

  @keyframes tail {
    0%,
    100% {
      right: -13px;
    }
    50% {
      right: -7px;
    }
  }

  @keyframes sharktail {
    0%,
    100% {
      left: -14px;
    }
    50% {
      left: -11px;
    }
  }

  // 샤크 스핀
  .shark::before {
    width: 20px;
    height: 20px;
    left: 30px;
    top: -15px;
    background-color: inherit;
    content: '';
    position: absolute;
    border-top-right-radius: 100%;
  }

  // 눈 입
  .shark span,
  .fish span {
    content: '';
    position: absolute;
  }

  // 눈 화이트
  .shark span:nth-child(1),
  .shark span:nth-child(2),
  .fish span:nth-child(1),
  .fish span:nth-child(2) {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: white;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.1);
    top: 10px;
    z-index: -2;
  }

  .fish span:nth-child(1) {
    left: -2px;
  }

  .fish span:nth-child(2) {
    z-index: 0;
    left: 15px;
  }

  .shark span:nth-child(1),
  .shark span:nth-child(2) {
    width: 20px;
    height: 30px;
  }

  .shark span:nth-child(1) {
    left: 75px;
    top: 7px;
  }
  .shark span:nth-child(2) {
    z-index: 0;
    left: 70px;
    top: 8px;
  }

  /* eyes(black) */
  .shark span:nth-child(2)::after,
  .fish span:nth-child(2)::after {
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #2a2a2a;
    content: '';
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 6px;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.5);
    animation: eyes 4s ease infinite var(--play-state);
  }
  .shark span:nth-child(2)::after {
    width: 6px;
    height: 6px;
    left: 9px;
    animation: sharkEyes 4s ease infinite var(--play-state);
  }
  @keyframes sharkEyes {
    0%,
    100% {
      top: 9px;
    }
    50% {
      top: 14px;
    }
  }
  @keyframes eyes {
    0%,
    100% {
      top: 4px;
    }
    50% {
      top: 10px;
    }
  }

  /* mouth */
  .fish span:nth-child(3) {
    border-radius: 100%;
    background-color: brown;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.3);
    top: 20px;
    left: -5px;
    z-index: 1;
    transform: rotate(5deg);
    border: solid 5px orange;
    animation: mouth 4s ease infinite var(--play-state);
  }

  .shark span:nth-child(3) {
    background-color: white;
    width: 10px;
    height: 10px;
    right: 0px;
    top: 25px;
    border-radius: 0 50%;
    z-index: 0;
  }
  .shark span:nth-child(3)::after {
    background-color: rgb(25, 132, 219);
    width: 6px;
    height: 4px;
    border-radius: 0 0 100% 0;
    content: '';
    position: inherit;
  }

  @keyframes mouth {
    0%,
    100% {
      height: 20px;
      width: 15px;
    }
    50% {
      height: 15px;
      width: 13px;
    }
  }

  // 엑스트라 물고기들

  .fish1,
  .fish2,
  .fish3,
  .fish4,
  .fish5 {
    position: absolute;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.8;
    z-index: -3;
  }

  .fish1:after,
  .fish2:after,
  .fish3:after,
  .fish4:after,
  .fish5:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 15px;
    left: 35px;
    top: 3px;
    background-color: inherit;
    border-radius: 100% 0 0 100%;
  }

  .fish1 {
    background-color: #e87112;
    animation: infinite fishMove1 15s ease-out var(--play-state);
  }

  .fish2 {
    background-color: #01014c;
    animation: infinite fishMove1 15s ease var(--play-state);
  }

  .fish3 {
    background-color: #d82973;
    animation: infinite fishMove2 15s ease-out 5s var(--play-state);
    transform: rotate(180deg);
  }

  .fish4 {
    background-color: #5a357d;
    animation: infinite fishMove2 15s ease 5s var(--play-state);
    transform: rotate(180deg);
  }

  @keyframes fishMove1 {
    0% {
      left: 110%;
      top: 60%;
    }
    50% {
      top: 40%;
    }
    100% {
      left: -50%;
      top: 50%;
    }
  }

  @keyframes fishMove2 {
    0% {
      left: -10%;
      top: 60%;
    }
    50% {
      top: 80%;
    }
    100% {
      left: 150%;
      top: 60%;
    }
  }
  .overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 80%);
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    &__text {
      text-align: center;
      color: #ffffff;
      margin-top: 10px;
    }
  }
  .spinner {
    animation: spinner infinite 2s linear;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
