body.game {
  .problems {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 2em;
    color: #fff;
  }

  .countdown {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
    animation: countingBlink 1s ease 1s infinite;
    font-size: 4em;
  }

  @keyframes countingBlink {
    to {
      opacity: 0;
    }
  }

  @keyframes showup {
    to {
      opacity: 1;
    }
  }

  .problem {
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 150px;
    animation: showup 0.6s forwards ease;
    display: flex;
    justify-content: center;

    &.completed {
      display: none;
    }
  }

  .form {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: center;

    & > fieldset {
      height: 100%;
      width: 100%;
      text-align: center;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      & > legend {
        font-size: 1.5em;
      }
    }

    &__selections {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    &__selection:focus-within {
      background-color: #b7e2a8;
    }

    &__selection {
      background-color: #f0f0f0;
      border-radius: 20px;
      opacity: 0.8;
      color: #222;
      position: relative;
      box-sizing: border-box;

      & > .jelly-fish,
      & > input,
      & > label {
        display: block;
      }

      & > .jelly-fish {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        margin: 0 auto;
        z-index: 1;
      }

      .sub {
        font-size: 1em;
        margin-top: 1em;
      }

      & > label {
        width: calc(250px + 2em);
        height: 100%;
        max-height: 350px;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 50px 1em 1em;
        word-break: keep-all;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      & > input[type='radio'],
      & > input[type='checkbox'] {
        &:checked {
          & + label {
            background-color: #b7e2a8;
          }
        }
        & + label {
          background-color: #f0f0f0;
          cursor: pointer;
        }
      }
    }

    &__selection:hover {
      background-color: #b7e2a8;
      transform: scale(95%);
    }

    .fly-slightly {
      position: relative;
      top: -70px;
    }

    .btn {
      position: relative;
      cursor: pointer;
      text-align: center;
      background: #cc5c5c;
      border-radius: 8px;
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 50px;
      font-family: arial;
      color: #f0f0f0;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      width: 200px;
      height: 70px;
    }
  }

  .input__answer {
    position: relative;
    height: 70px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 20px;
    // overflow: hidden;

    & > img {
      position: absolute;
      top: -90px;
      left: -23px;
      transform: translate3d(-50%, 0, 0) rotate(-45deg);
    }
  }

  .input__short-type {
    color: #222;
    border: none;
    font-size: 1.2em;
    background-color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    text-align: center;

    &::placeholder {
      color: #222;
    }
  }

  .overlay {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    animation: overlayDarker 1s forwards linear;
  }

  @keyframes overlayDarker {
    to {
      opacity: 0.9;
    }
  }

  @keyframes resultPopupSlowly {
    to {
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .result {
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, 150%, 0);
    width: 600px;
    height: 500px;
    transition: width 0.5s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: resultPopupSlowly 0.8s forwards 1s ease;
    z-index: 4;

    & > .user-name {
      font-size: 50px;
    }

    & > .user-score {
      font-size: 4em;
      font-weight: 700;
    }

    .close {
      cursor: pointer;
      text-align: center;
      background: #53c100;
      border-radius: 8px;
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 50px;
      font-family: arial;
      color: #f0f0f0;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      width: 200px;
      height: 70px;
      border: none;
    }
  }

  // display: flex;
  // justify-content: center;
  // padding: 20em 20em;

  // .problems {
  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   width: 100%;
  // }

  // .problem {
  //   opacity: 1;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: flex;
  //   justify-content: center;
  //   width: 100%;

  //   &.completed {
  //     opacity: 0;
  //     transition: opacity 0.5s;
  //   }

  //   .form {
  //     display: flex;
  //     justify-content: center;
  //     height: 100%;
  //     width: 100%;

  //     & > fieldset {
  //       padding: 0;
  //       margin: 0;
  //       border: none;
  //       color: #fff;
  //       font-size: 1.5em;
  //       display: flex;
  //       justify-content: center;

  //       & > legend {
  //         margin-bottom: 100px;
  //       }

  //       & > input[type='radio'],
  //       & > input[type='checkbox'] {
  //         display: block;
  //         // opacity: 0;
  //         & ~ label {
  //           text-align: center;
  //           border: 1px solid #fff;
  //           border-radius: 10px;
  //           font-size: 0.8em;
  //           max-height: 400px;
  //           min-width: 200px;
  //           cursor: pointer;
  //           padding: 1em;
  //           display: block;

  //           & > .multiple {
  //             margin-top: 160px;
  //           }

  //           & > .multiple.even {
  //             margin-top: 100px;
  //           }
  //         }
  //         &:hover + label,
  //         &:checked + label,
  //         &:checked + label {
  //           background-color: pink;
  //         }
  //       }
  //     }
  //   }
  // }

  // .problem-control {
  //   position: absolute;
  //   top: 60%;
  //   left: 50%;
  //   transform: translate3d(-50%, -50%, 0);
  // }
}

// body.game {
//   position: relative;

//   .carousel {
//     position: absolute;
//     top: 10em;
//     left: 50%;
//     overflow: hidden;
//     transform: translate3d(-50%, 0, 0);
//     width: 1000px;
//   }

//   .carousel-slides {
//     --currentSlide: 0;
//     --duration: 300;
//     display: flex;
//     transition: transform calc(var(--duration) * 1ms) ease-out;
//     transform: translate3d(calc(var(--currentSlide) * -100%), 0, 0);
//   }

//   .problem {
//     min-width: 100%;

//     & > .problem-form {
//       & > fieldset {
//         border: none;
//         color: #fff;
//         display: flex;
//         justify-content: space-around;
//         height: 400px;

//         & > legend {
//           font-size: 2em;
//         }

//         & > input[type='radio'],
//         & > input[type='checkbox'] {
//           &:checked + label {
//             background-color: pink;
//           }
//         }

//         & > label {
//           padding: 3em;
//           border-radius: 20px;
//           border: 1px solid #fff;
//         }
//       }
//     }
//   }
// }
