body.game {
  > .ocean {
    .oxygen-tank {
      --amount: 100;
      width: 50px;
      height: 500px;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      background-color: #fff;
      border-radius: 50px 50px 15px 15px;
      z-index: 2;
      &::after {
        content: '';
        width: calc(100% - 10px);
        height: calc(var(--amount) * 1% - 10px);
        background-color: hsla(var(--amount), 50%, 50%, 0.8);
        border-radius: inherit;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        box-shadow: inset 10px 0 0px rgb(0 0 0 / 10%);
        transition: ease-in-out 0.1s height;
      }
    }
  }
}
